@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #303453;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.44);
    flex-wrap: wrap;
}

.logo {
    width: 15rem;
    height: 15rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    align-items: center;
}

.nav-bar a {
    transition: color 0.3s;
}

#avatar-container {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

#avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
    border: 0.3rem solid #EAB308;

}

#avatar-img:hover {
    transform: translateY(-0.5rem);
}

.section-1 {
    width: 100%;
    padding: 3rem 1rem;
}

.section-heading h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 700;
}

.create {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-top: #ffff00 0.1rem solid;
    border-bottom: yellow 0.1rem solid;
    
    border-radius: 1rem;
}

.import-img {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone {
    width: 50%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(145deg, #6e6f70, #2f2f30);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease;
}

.dropzone:hover {
    border-color: yellow;
    background-color: #f9fafb;
}

.dropzone img {
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.dropzone p {
    font-size: 1.3rem;
    font-weight: 700;
}

.browse {
    color: #3b82f6;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.write-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title,
.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title label,
.content label {
    font-size: 2rem;
}

.title input,
.content textarea {
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #4b4949;
    color: #fff;
}

.content textarea {
    min-height: 10rem;
    max-height: 25rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    width: 10rem;
    height: 3.5rem;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem;
}

.button-container button:hover {
    background-color: #2563eb;
}

@media (max-width: 1400px) {
    .create {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .create {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .create {
        width: 90%;
    }

    .import-img {
        height: 25rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }

    .logo {
        width: 10rem;
        height: 10rem;
    }

    .nav-bar {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .create {
        width: 95%;
        padding: 1rem;
    }

    .import-img {
        height: 20rem;
    }
}

@media (max-width: 576px) {
    .section-heading h1 {
        font-size: 3rem;
    }

    .title input,
    .content textarea {
        font-size: 1.3rem;
    }

    .button-container button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .section-heading h1 {
        font-size: 2.5rem;
    }

    .import-img {
        height: 18rem;
    }

    .dropzone {
        width: 80%;
    }
    
}

@media (max-width: 400px) {

    .dropzone p,
    .browse {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    .section-heading h1 {
        font-size: 2.5rem;
    }

    .import-img {
        height: 15rem;
    }
}