@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #303453;
}

.wrapper {
    position: relative;
    width: 100%;
}

header {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.44);
}

.logo {
    width: 15rem;
    height: 15rem;
    margin-top: -2rem;

}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-bar {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.nav-bar a {
    position: relative;
    transition: color 0.3s;
}

#avatar-container {
    width: 6rem;
    height: 6rem;
    align-content: center;
    cursor: pointer;
}

#avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

#avatar-img:hover {
    transform: translateY(-0.5rem);
}

#logout-btn {
    border-radius: 5rem;
    background-color: #800505;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transform: scale(0);
    transition: all 0.4s;
}

#logout-btn.active {
    transform: scale(1);
    opacity: 1;

}

.nav-bar a:hover {
    color: #eab308;
}

.nav-bar img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.section-1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.blog-of-the-week-heading {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.1rem;
    margin: 9rem 0rem;
    text-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.44);
}

.blog-of-the-week-heading span {
    text-shadow: -2rem 2rem 6rem rgba(0, 0, 0, 0.44);
}

.blog-of-the-week {
    width: 70%;
    /* height: 90%; */
    border-radius: 2rem;
    margin: 9rem auto 2rem auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.44);
    padding: 2rem;
    margin-top: 9rem;

}

.blog-of-the-week-blog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog-of-the-week-image {
    align-self: center;
    width: 90%;
    height: 70%;
    overflow: hidden;
}

.blog-of-the-week-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-of-the-week-title {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    margin: 1rem 0rem;
}

.wrap-user-name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-of-the-week-user-name {
    font-size: 2rem;
    color: #eab308;
    margin: 1rem 0rem;
}

.blog-of-the-week-date {
    font-size: 1.5rem;
    opacity: 0.8;
    color: #ccc;
}

.blog-of-the-week-text {
    font-size: 1.5rem;
    line-height: 2.5rem;

}

.section-2 {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.search-heading {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

.search-input {
    width: 70rem;
    height: 3.5rem;
    position: relative;
    text-align: center;
}

.search-input input {
    width: 90%;
    height: 100%;
    padding: 0.3rem;
    padding-left: 4rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
}

.search-input i {
    position: absolute;
    transform: scale(1.5);
    color: #61defb;
    top: 30%;
    left: 7%;
}



.create-post {
    width: 70%;
    border-radius: 2rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    background-color: #B0B3C5;
    /* background: linear-gradient(135deg, #1e3a8a, #9333ea); */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.44);
    padding: 2rem;
}

.para-create {
    margin: 0;
    padding: 0;
    font-size: 2.8rem;
    font-weight: 700;
    color: #1f2937;
}

.para-create span {
    color: #facc15;
    font-size: 3rem;
    font-weight: 700;
    /* text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.44); */
}

.create-post a {
    /* margin: 2rem 0 0 8rem; */
    padding: 1.5rem 4rem;
    border-radius: 3rem;
    color: #fff;
    background-color: #099cbd;
    font-size: 2.5rem;
    font-weight: 700;
}


.section-3 {
    width: 99%;
    min-height: 100vh;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.44);
    padding-bottom: 3rem;

}

.blog-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20rem;
    flex-wrap: wrap;
    gap: 10rem;
}

.blog-card {
    width: 50rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.44), -0.3rem -0.3rem 0.2rem rgba(0, 0, 0, 0.44);
    padding: 1rem;
    margin-top: 5rem;
}

.blog-card-image {
    align-self: center;
    width: 90%;
    height: 70%;
    overflow: hidden;
}

.blog-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card-title {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    margin: 1rem 0rem;
}

.blog-card-user-name {
    font-size: 2rem;
    color: #eab308;
    margin: 1rem 0rem;
}

.blog-card-date {
    font-size: 1.5rem;
    opacity: 0.8;
    color: #ccc;
}

.blog-card-text {
    font-size: 1.5rem;
    line-height: 2.5rem;

}

.blog-card-interactive {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem 0rem 1rem 1rem;
    font-size: 2.5rem;
    gap: 5rem;
}

.like {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dislike {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.comment {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.show-comments {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 67rem;
    margin-top: 5rem;
    background-color: #e5e9ff;
    border-radius: 2rem;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 1;
    transition: opacity 0.3s ease;
    display: block;

}

.show-comments.hide {
    opacity: 0;
    pointer-events: none;

}

.fa-xmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #555252;
    cursor: pointer;
}

.comment-container {
    width: 100%;


}

.place-of-comments {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #e5e9ff;
}

.fa-circle-user {
    font-size: 4rem;
    color: #555252;
    cursor: pointer;
    margin: 0.5rem 0.5rem 0 1rem;
}

.img-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5rem 0.5rem 0 1rem;
}

#avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.usernameComments {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0.9rem;
    color: #000;
    font-weight: 700;

}

.para-comments {
    font-size: 1.7rem;
    margin-top: 0.7rem;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
    max-width: 100%;
    color: #000;

}

.timeComments {
    margin-left: 1.2rem;
    color: #000;
    font-weight: 700;

}

@media (max-width: 1250px) {
    .nav-bar {
        width: 40%;
        font-size: 1.8rem;
    }
}

@media (max-width: 1200px) {
    .nav-bar {
        width: 40%;
        font-size: 1.8rem;
    }

    .blog-of-the-week {
        width: 85%;
    }

    .blog-card {
        width: 42rem;
    }

    .search-input {
        width: 60rem;
    }
}



@media (max-width: 1000px) {
    .nav-bar {
        width: 50%;
        font-size: 1.6rem;
    }

    .blog-of-the-week-heading {
        font-size: 4rem;
    }

    .blog-of-the-week {
        width: 90%;
    }

    .blog-card {
        width: 40rem;
    }


    .create-post {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .nav-bar {
        width: 60%;
        font-size: 1.6rem;
    }

    .blog-of-the-week-heading {
        font-size: 4rem;
    }

    .blog-of-the-week {
        width: 90%;
    }

    .blog-card {
        width: 35rem;
    }


    .para-create {
        font-size: 2.5rem;
    }

    .para-create span {
        font-size: 2.5rem;
    }

    .create-post a {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem 0;
    }

    .nav-bar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .logo {
        margin-top: 0;
        height: 15rem;
    }

    .blog-of-the-week-heading {
        font-size: 3.5rem;
        margin: 5rem 0;
    }

    .blog-of-the-week {
        width: 95%;
    }

    .search-input {
        width: 90%;
    }

    .blog-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }

    .para-create {
        font-size: 2.2rem;
    }

    .para-create span {
        font-size: 2.2rem;
    }

    .create-post a {
        font-size: 2.2rem;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem 0;
    }

    .nav-bar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .logo {
        margin-top: 0;
        height: 15rem;
    }

    .blog-of-the-week-heading {
        font-size: 3.5rem;
        margin: 5rem 0;
    }

    .blog-of-the-week {
        width: 95%;
    }

    .search-input {
        width: 90%;
    }

    .blog-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }

    .para-create {
        font-size: 1.8rem;
    }

    .para-create span {
        font-size: 1.8rem;
    }

    .create-post a {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem 0;
    }

    .nav-bar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .logo {
        margin-top: 0;
        height: 15rem;
    }

    .blog-of-the-week-heading {
        font-size: 3.5rem;
        margin: 5rem 0;
    }

    .blog-of-the-week {
        width: 95%;
    }

    .search-input {
        width: 90%;
    }

    .blog-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }

    .blog-card-title {
        font-size: 2.5rem;
    }

    .para-create {
        font-size: 1.7rem;
    }

    .para-create span {
        font-size: 1.7rem;
    }

    .create-post a {
        font-size: 1.7rem;
        padding: 1.5rem 2rem;
    }

}

@media (max-width: 520px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem 0;
    }

    .nav-bar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .logo {
        margin-top: 0;
        height: 15rem;
    }

    .blog-of-the-week-heading {
        font-size: 3.5rem;
        margin: 5rem 0;
    }

    .blog-of-the-week {
        width: 95%;
    }

    .search-input {
        width: 90%;
    }

    .blog-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }

    .create-post {
        flex-direction: column;
        height: auto;
    }

    .create-post a {
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 431px) {
    html {
        font-size: 55%;
    }

    .nav-bar {
        font-size: 1.6rem;
    }

    .blog-of-the-week-heading {
        font-size: 2.8rem;
    }

    .search-heading {
        font-size: 2.2rem;
    }

    .search-input i {
        top: 27%;
        left: 8%;
    }

    .search-input input {
        padding-left: 3.5rem;
        font-size: 1.6rem;
    }

    .blog-card-title,
    .blog-of-the-week-title {
        font-size: 2.5rem;
    }

    .blog-card-user-name,
    .blog-of-the-week-user-name {
        font-size: 1.6rem;
    }

    .blog-card-text,
    .blog-of-the-week-text {
        font-size: 1.3rem;
    }

    .blog-card-interactive {
        font-size: 2rem;
        gap: 3rem;
    }
}